@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Gluten:wght@100;200;300;400;800&display=swap');

*{
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: maroon;
    font-family: 'Architects Daughter', cursive;
    z-index: 999;
    padding: 30px 0;
    font-weight: 300;
    transition: all 0.3s ease;
}


.nav-link{
    color: gold !important;
    display: inline-block;
    position: relative;
}

.nav-link:hover{
    color:wheat;
}

.navbar.show{
    padding: 30px 0;
    background: maroon;
}

.navbar .nav-item .nav-link a{
    font-weight: 200;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}


.active{
    text-decoration: bold;
}

.nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:wheat;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .nav-link:hover:after {
    color: wheat;
    transform: scaleX(1);
    transform-origin: bottom center;
  }

.btn{
    background-color: black;
}

.btn-light:before{
    background-color: white;
}

.btn-light:hover:after{
    background-color: black;
}

.btn-light:after{
    background-color: black;
}

section{
    padding: 100px, 0;
}

.home {
    background: url("img/Potrait.png") no-repeat center;
    display: flex;
    height: 100vh;
    color: wheat;
    min-height: 500px;
    font-family: 'Architects Daughter', cursive;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-info .first-text{
    font-size: 50px;
}

.home .home-info .first-text{
    font-size: 50px;
}

.home .home-info .second-text{
    font-size: 70px;
    font-weight: 700;
    margin-left: -3px;
}

.home .home-info .third-text{
    font-size: 50px;
    margin: 3px 0;
}

/* blinking the name */
#name {
    animation-duration: 5000ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation: blinkingText 3s infinite;
}

@keyframes blinkingText{
    0%{     color: yellow;    }
    25%{    color:red; }
    50%{    color: pink}
    75%{    color: wheat;  }
    100%{   color:white   }
}

@keyframes blink {
    from {
       opacity: 1;
    }
    to {
       opacity: 0;
    }
  }


.about {
    padding-top: 50px;
    font-family: 'Architects Daughter', cursive;
    background: white;
    color: black;
}

.about .title{
    font-family: 'Architects Daughter', cursive;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left{
    width: 40%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.about .about-content .right{
   width: 60%;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: maroon;
}
.about .about-content .right p{
    text-align: justify;
    align-items: center;
}
.about .about-content .right a{
    display: inline-block;
    background: maroon;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid maroon;
    transition: all 0.3s ease;
    text-decoration: none;
}
.about .about-content .right a:hover{
    color: maroon;
    border: 2px solid maroon;
    text-decoration: none;
    background: none;
}

section {
    padding: 100px, 0;
    padding-bottom: 20px;
    align-items: center;
}

/* portfolio */

.portfolio1{
    display: flex;
    height: 100vh;
    color:black;
    background: white;
    min-height: 500px;
    font-family: 'Architects Daughter', cursive;
    border: 2px white;
    align-items: center;
    text-align: center;
}

.portfolio{
    display: flex;
    height: 68vh;
    color: black;
    background: white;
    min-height: 200px;
    font-family: 'Architects Daughter', cursive;
    border: 2px white;
    align-items: center;
    text-align: center;
}

.portfolio1 .title{
    font-family: 'Architects Daughter', cursive;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
    padding-bottom: 20px;
    padding-top: 200px;
}

.portfolio1 .content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: rgba(0,0,0,0.5);    
    border-radius: 20px;
    transition: all 0.3s ease;
}

.portfolio .content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: rgba(0,0,0,0.5);
    border-radius: 20px;
    transition: all 0.3s ease;
}

.portfolio1 .content .text{
    font-weight: 800;
    font-size: 45px;
}

.portfolio .content .text{
    font-weight: 800;
    font-size: 45px;
}

.portfolio1 .content .right p{
    text-align: justify;
    align-items: center;
}

.portfolio .content .right p{
    text-align: justify;
    align-items: center;
}

.portfolio1 .content:hover{
    color: white;
    background: maroon;
    transform: scale(1.05);
}

.portfolio .content:hover{
    color: white;
    background: maroon;
    transform: scale(1.05);
}

.portfolio .content  .left{
    width: 40%;
}

.portfolio1 .content  .left{
    width: 40%;
}

.portfolio .content  .right{
    width: 60%;
}

.portfolio1 .content  .right{
    width: 60%;
}

.portfolio1 .content  .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.portfolio .content  .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 20px;
}




/* services */
.services{
    background-color: white;
    display: flex;
    height: 100vh;
    min-height: 500px;
    color: black;
    font-family: 'Architects Daughter', cursive;
}

.services.change {
    background-color:black;
    display: flex;
    height: 100vh;
    min-height: 500px;
    color: wheat;
    font-family: 'Architects Daughter', cursive;
}

.services .title{
    font-family: 'Architects Daughter', cursive;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.services .service-info {
    display: flex;
}

.services .service-info .card{
    width: 30%;
    background:rgba(189, 195, 199, 1);
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px;
    margin: 10px;
}

.services .service-info .card:hover i{
    color: #fff;
}

.services .service-info .card:hover{
    background: rgba(129, 0, 0, 1);
    color: white;
}
.services .service-info .card .box{
    transition: all 0.3s ease;
}
.services .service-info .card:hover .box{
    transform: scale(1.05);
}
.services .service-info .card i{
    font-size: 50px;
    color: maroon;
}

.services .service-info .card .text{
    font-size: 25px;
    font-weight: 500;
}

.services #photo .title{
    text-align: center;
}

/* contacts */
.contact1 {
    display: flex;
    height: 100vh;
    color: black;
    background: white;
    min-height: 500px;
    font-family: 'Architects Daughter', cursive;
    align-items: center;
}

.contact1 .row .col-sm{
    text-align: center;
    border-radius: 6px;
}

.contact1 .row .col-lg{
    text-align: center;
}

.contact1 .row {
    margin: 30px;
}
 
.contact1 .row .col-sm:hover{
    background-color: rgba(128, 0, 0, 0.3); 
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.contact1 .row .col-sm:hover i{
    color:black;
}


.contact1 i{
    font-size: 40px;
    color: maroon;
}


footer{
    text-align: center;
    padding : 20px;
    font-family: 'Architects Daughter', cursive;
    background-image: radial-gradient(black, red, maroon, black);
    color: white;
    transition: all 1s ease;
}

footer a{
    color: white;
    text-decoration: none;
}

@media (max-width: 944px)
{
    .about .about-content .left img{
        height: 200px;
        width: 200px;
        border-radius: 20px;
    }
}


